<%- include ('./partials/header') %>
<header>
  <div class="container-fluid mt-3">
    <img src="/img/img-1.jpg" alt="post title" class="single-post-img" />
  </div>
</header>
<main class="my-5">
  <div class="container">
    <div class="row">
      <div class="post-content col-md-8">
        <h1 class="display-3">Post Title</h1>
        <div class="post-texts">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
            dolorum dolores, alias molestiae quos enim atque nulla reprehenderit
            similique beatae dolore iure, quia natus consequatur facilis
            perspiciatis accusantium eveniet dolor. Iste aut esse minima? Ullam
            iusto, natus repudiandae amet excepturi iure sequi temporibus.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
            dolorum dolores, alias molestiae quos enim atque nulla reprehenderit
            similique beatae dolore iure, quia natus consequatur facilis
            perspiciatis accusantium eveniet dolor. Iste aut esse minima? Ullam
            iusto, natus repudiandae amet excepturi iure sequi temporibus.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
            dolorum dolores, alias molestiae quos enim atque nulla reprehenderit
            similique beatae dolore iure, quia natus consequatur facilis
            perspiciatis accusantium eveniet dolor. Iste aut esse minima? Ullam
            iusto, natus repudiandae amet excepturi iure sequi temporibus.
          </p>
        </div>
      </div>

      <aside class="col-md-4">
        <h3 class="">Read Next</h3>
        <div class="card mx-auto">
          <img src="/img/img-1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/post" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>

<%- include ('./partials/footer') %>
